@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins&display=swap');

:root {
    --bg-color: #0a0a0a;
    --title-color: #ffffff;
    --txt-color: #a5a5a5;
    --btn-color: #ffffff;
    --txt-btn-color: #000000;
    --div-bg-color: #111111;
    --div-hover-bg-color: #1c1c1c;
    --form-border: #292929;
}

* {
    font-family: 'Poppins';
}

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--title-color);
    transition: all 0.3s ease;
}

/* GENERAL */

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--title-color);
    margin: 0 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

li, p {
    font-family: 'Poppins';
}

p {
    color: var(--txt-color);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header h2 {
    font-size: 14px;
}

header li {
    display: inline;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--btn-color);
}

/* MAIN */

.bigLogo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 5rem auto 0 auto;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 22px;
}

span {
    color: #fa0c0c;
}

p {
    text-align: center;
}

.p {
    color: var(--title-color);
}

/* ABOUT ME */

#aboutMe {
    margin: 16rem 0;
}

.aboutMe {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 7rem 2rem;
    border-radius: 15px;
}

.aboutMe div {
    padding: 2rem;
    background-color: var(--div-bg-color);
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(0.94, 0.06, 0, 0.93);
}

div ul li {
    color: var(--txt-color);
}

.aboutMe div:hover {
    transform: translateY(-5%);
    background-color: var(--div-hover-bg-color);
}

/* SKILLS */

#skills {
    margin: 16rem 0;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--div-bg-color);
    border-radius: 15px;
    padding: 2rem 3rem;
    width: 50px;
    transition: all 0.5s cubic-bezier(0.94, 0.06, 0, 0.93);
}

.skill i {
    font-size: 50px;
}

.skill:hover {
    transform: translateY(-5%);
    background-color: var(--div-hover-bg-color);
}

/* WORKS */

#works {
    margin: 16rem 0;
    text-align: center;
}

.worksContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
}

.work img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--div-bg-color);
    border-radius: 15px;
    width: 75%;
    text-wrap: pretty;
    transition: all 0.5s cubic-bezier(0.94, 0.06, 0, 0.93);
}

.work h3 {
    margin: 1rem 0;
    text-align: left;
}

.work p {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    text-align: left;
    font-size: 14px;
    color: var(--txt-color);
}

.technologies {
    margin: 1rem 0;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.work:hover {
    transform: translateY(-5%);
    background-color: var(--div-hover-bg-color);
}

/* CONTACT */

#contact {
    margin: 16rem 0;
}

#contact h2 {
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
}

form div {
    margin: 5px 0 15px 0;
    border: 1px solid var(--form-border);
    border-radius: 8px;
    padding: 10px;
}

input, textarea {
    background-color: transparent;
    border: none;
    overflow: none;
    outline: none;
    color: var(--title-color);
    font-size: 14px;
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: min-content;
}

form button {
    width: 100%;
    background-color: var(--btn-color);
    color: var(--txt-btn-color);
    padding: 13px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 30px;
}

@media screen and (max-width: 750px) {
    .social-icons {
        display: none;
    }
}

@media screen and (max-width: 700px){
    form {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .logo-area {
        display: none;
    }
}